
$white: #ffffff;
$terza-colonna-sfondo: #f4f5f0;
$barra-orange-sopra: #f38d34;
$sfondo-menu: #2b2b2a;
$breadcrumb-attuale: #ababab;
$testi-pagine: #2c2c2c;
$menu-selezionato: #838382;
$medium-grey-two: #5f5f5e;
$colore-linea: #d0d0d0;
