{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 *
 * @see template_preprocess_file_link()
 */
#}
<span class="black-text-file testo-cerca-e-allegati" {{ attributes }}>{{ link }}</span>
